/*ieu kanggo desktop jeung tablet landscape*/
	.navbar-brand{
	font-size:25px;
	}
	.nav-link {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 18px;
	}
	
	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 2px dashed salmon;
		width: 70%;
		margin:auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}
	
.tombol {
		font-family: 'Vacaciones', serif;
		text-transform: uppercase;
		border-radius: 40px;
		color: #fff;
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
	
	.after-image, .btn-hover{
		margin-top: -0.7em;
		text-align:center;
		font-family: 'Vacaciones';
		color: #fff;
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
/*support system*/
	.support-system{
		background-color: #ffb4a2;
		margin-top: -1.5em;
	}
	
	.legalitas {
		margin-bottom: 2.5em;
	}
	
	.manajemen{
		margin-bottom: 2em;
	}
	
	
	.kanggo-mobile{
		margin-left: -6.5em; padding-top: 2.5em;
	}
	
	.a{
		margin-right: -4em;
	}
	
/*end support system*/
	
	.header-subscribe{
		font-family: 'Kaushan Script';
	}
	
	.sacramento {
		font-family: 'Sacramento', cursive;
	}
	
	.footer-plus{
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
	
	
@media (min-width: 576px) {
	/*ieu kanggo desktop jeung tablet landscape*/
	.navbar-brand{
	font-size:33px;
	}
	.nav-link {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 18px;
	}
	
	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 2px dashed salmon;
		width: 70%;
		margin:auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}
	
	.after-image, .btn-hover{
		margin-top: -0.7em;
		text-align:center;
		font-family: 'Vacaciones';
		color: #fff;
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
	
	.tombol {
		font-family: 'Vacaciones', serif;
		text-transform: uppercase;
		border-radius: 40px;
		color: #fff;
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
/*support system*/
	.support-system{
		background-color: #ffb4a2;
		margin-top: -5em;
	}
	
	.legalitas {
		margin-bottom: 4em;
	}
	
	.manajemen{
		margin-bottom: 3.5em;
	}
	
	
	.kanggo-mobile{
		margin-left: -7.5em; padding-top: 5.5em;
	}
	
	.kanggo-card{
		margin-left: 35em; margin-top: 40em;
	}
	
	.a{
		margin-right: -4em;
	}
	
/*end support system*/
	
	.header-subscribe{
		font-family: 'Kaushan Script';
	}
	
	.sacramento {
		font-family: 'Sacramento', cursive;
	}
	
	.footer-plus{
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
}


@media (min-width: 768px) {
	
	/*ieu kanggo desktop jeung tablet landscape*/
	.navbar-brand{
	font-size:45px;
	}
	.nav-link {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 18px;
	}
	
	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 2px dashed salmon;
		width: 70%;
		margin:auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}
	
	.after-image, .btn-hover{
		margin-top: -0.7em;
		text-align:center;
		font-family: 'Vacaciones';
		color: #fff;
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
	
	.tombol {
		font-family: 'Vacaciones', serif;
		text-transform: uppercase;
		border-radius: 40px;
		color: #fff;
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
/*support system*/
	.support-system{
		background-color: #ffb4a2;
		margin-top: -5em;
	}
	
	.legalitas {
		margin-bottom: 5em;
	}
	
	.manajemen{
		margin-bottom: 5em;
	}
	
	
	.kanggo-mobile{
		margin-left: -7.5em; padding-top: 7.5em;
	}
	
	.kanggo-card{
		margin-left: 35em; margin-top: 40em;
	}
	
	.a{
		margin-right: -4em;
	}
	
/*end support system*/
	
	.header-subscribe{
		font-family: 'Kaushan Script';
	}
	
	.sacramento {
		font-family: 'Sacramento', cursive;
	}
	
	.footer-plus{
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
	
}

@media (min-width: 992px) {
		/*ieu kanggo desktop jeung tablet landscape*/
	.navbar-brand{
	font-size:45px;
	}
	.nav-link {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 18px;
	}
	
	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 2px dashed salmon;
		width: 70%;
		margin:auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}
	
	.after-image, .btn-hover{
		margin-top: -0.7em;
		text-align:center;
		font-family: 'Vacaciones';
		color: #fff;
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
	
	.tombol {
		font-family: 'Vacaciones', serif;
		text-transform: uppercase;
		border-radius: 40px;
		color: #fff;
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
/*support system*/
	.support-system{
		background-color: #ffb4a2;
		margin-top: -5em;
	}
	
	.legalitas {
		margin-bottom: 7.5em;
	}
	
	.manajemen{
		margin-bottom: 7.5em;
	}
	
	
	.kanggo-mobile{
		margin-left: -11em; padding-top: 9.5em;
	}
	
	.kanggo-card{
		margin-left: 35em; margin-top: 40em;
	}
	
	.a{
		margin-right: -4em;
	}
	
/*end support system*/
	
	.header-subscribe{
		font-family: 'Kaushan Script';
	}
	
	.sacramento {
		font-family: 'Sacramento', cursive;
	}
	
	.footer-plus{
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
}


@media (min-width: 992px) and (max-width: 1099.98px) {
	
	/*ieu kanggo desktop jeung tablet landscape*/
	.navbar-brand{
	font-size:45px;
	}
	.nav-link {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 18px;
	}
	
	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 2px dashed salmon;
		width: 70%;
		margin:auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}
	
	.after-image, .btn-hover{
		margin-top: -0.7em;
		text-align:center;
		font-family: 'Vacaciones';
		color: #fff;
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
	
	.tombol {
		font-family: 'Vacaciones', serif;
		text-transform: uppercase;
		border-radius: 40px;
		color: #fff;
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
/*support system*/
	.support-system{
		background-color: #ffb4a2;
		margin-top: -5em;
	}
	
	.legalitas {
		margin-bottom: 8.5em;
	}
	
	.manajemen{
		margin-bottom: 8.5em;
	}
	
	
	.kanggo-mobile{
		margin-left: -12em; padding-top: 12.5em;
	}
	
	.kanggo-card{
		margin-left: 35em; margin-top: 40em;
	}
	
	.a{
		margin-right: -4em;
	}
	
/*end support system*/
	
	.header-subscribe{
		font-family: 'Kaushan Script';
	}
	
	.sacramento {
		font-family: 'Sacramento', cursive;
	}
	
	.footer-plus{
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
	
}


@media (min-width: 1200px) { 
/*ieu kanggo desktop jeung tablet landscape*/

.navbar-brand{
	font-size:45px;
}
	.nav-link {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 25px;
	}
	
	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 2px dashed salmon;
		width: 70%;
		margin:auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}
	
	.after-image, .btn-hover{
		margin-top: -0.7em;
		text-align:center;
		font-family: 'Vacaciones';
		color: #fff;
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
	
	.tombol {
		font-family: 'Vacaciones', serif;
		text-transform: uppercase;
		border-radius: 40px;
		color: #fff;
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
/*support system*/
	.support-system{
		background-color: #ffb4a2;
		margin-top: -5em;
	}
	
	.legalitas {
		margin-bottom: 18em;
	}
	
	.manajemen{
		margin-bottom: 18em;
	}
	
	
	.kanggo-mobile{
		margin-left: -35em; padding-top: 22em;
	}
	
	.kanggo-card{
		margin-left: 35em; margin-top: 40em;
	}
	
	.a{
		margin-right: -4em;
	}
	
/*end support system*/
	
	.header-subscribe{
		font-family: 'Kaushan Script';
	}
	
	.sacramento {
		font-family: 'Sacramento', cursive;
	}
	
	.footer-plus{
		background: -moz-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253,82,111,1)), color-stop(29%, rgba(253,82,111,1)), color-stop(61%, rgba(252,108,110,1)), color-stop(84%, rgba(251,117,109,1)), color-stop(100%, rgba(251,130,109,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(182deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* ie10+ */
		background: linear-gradient(268deg, rgba(251,130,109,1) 0%, rgba(251,117,109,1) 16%, rgba(252,108,110,1) 39%, rgba(253,82,111,1) 71%, rgba(253,82,111,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd526f', endColorstr='#fb826d',GradientType=1 ); /* ie6-9 */
	}
	.footer{
		color:#ffffff;
	}
}
/*panutup desktop*/

